
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  background-image: url("Attachments/");
}
header 
       {
      background-image: url('https://retroshirtz.com/wp-content/themes/twentysixteen/img/banner-main.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 50vh;
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      color: white;
      text-shadow: 1px 1px 3px black;
    }
    h1 {
      text-align: center;
      padding-top: 40vh;
      font-size: 3em;
    }

    h1 {
      text-align: center;
      padding-top: 40vh;
      font-size: 3em;
    }


header {
  background-color: #222;
  color: #f4f0f0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

header h1 {
  margin: 0;
 
}

nav a {
  color: #dcd7d7;
  margin-left: 1rem;
  text-decoration: none;

}

nav a.active,
nav a:hover {
  color: #edeff4;
  
  
}

.hero {
  background: url('images/hero-bg.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.team-members {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  text-align: center;
  max-width: 200px;
}

.member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

footer {
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
footer{
  background-image: url("https://cdn.sanity.io/images/xwpnccj2/production/41504825df2aaadf34698db94d70af84711a4791-1440x840.png?w=1920&q=75&fit=clip&auto=format");
}


